body,
html {
  font-family: 'Kanit', sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 12px;
  margin: 0 auto;
}

.primary-button {
  background: #6877ff;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  height: 55px;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2em;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.primary-button:hover {
  background: #4555e7;
  color: #fff;
}

.site-nav {
  padding: 2em 0;
}
.nav-links ul li {
  display: inline-block;
}
.nav-links ul li:not(:last-of-type) {
  margin-right: 1.5rem;
}

.nav-links a,
main a {
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.nav-links a:hover,
main a:hover,
.card-link:hover div,
.card-link:hover svg {
  -moz-transition: 0.2s;
  transition: 0.2s;
  color: #6877ff;
}

.nav-links .primary-button {
  height: 40px;
  font-size: 1rem;
}

.nav-links .primary-button:hover {
  color: #fff;
}

.home-hero {
  height: 80vh;
}

.home-hero h1 {
  line-height: 50px;
}

.section h2.title {
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section p.description,
.home-hero p {
  font-weight: 400;
  font-size: 22px;
  color: #7b81ba;
  margin-bottom: 2em;
}

.section p {
  font-weight: 500;
  color: #7b81ba;
}

.platform-item,
.platforms-container {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.platforms-container {
  margin-top: 1rem;
}

.platform-item {
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  margin-right: 1em;
}

.platform-item p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #7b81ba;
  margin-left: 1em;
}

.footer-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer-widgets-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.footer-logo {
  max-width: 20%;
}

.footer-links {
  margin-top: 1rem;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

footer p,
footer a {
  font-weight: 400;
  font-size: 15px;
  color: #7b81ba;
  line-height: 1.8rem;
}

footer a:hover {
  color: #000;
}

footer h6 {
  font-weight: 700;
  color: #7b81ba;
  margin-bottom: 1em;
}

.login-form-title h2 {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 1rem;
}

.shadow-container {
  background: #fff;
  -moz-box-shadow: 0 42px 165px rgba(31, 37, 85, 0.06),
    0 5.25905px 20.6606px rgba(31, 37, 85, 0.03);
  box-shadow: 0 42px 165px rgba(31, 37, 85, 0.06),
    0 5.25905px 20.6606px rgba(31, 37, 85, 0.03);
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 3px solid transparent;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.shadow {
  -webkit-box-shadow: 0 0 1px 0 rgba(61, 119, 180, 0.12),
    0 0.25rem 12px 0 rgba(91, 139, 199, 0.24);
  box-shadow: 0 0 1px 0 rgba(61, 119, 180, 0.12),
    0 0.25rem 12px 0 rgba(91, 139, 199, 0.24);
  -webkit-transition: 0.3s background;
  transition: 0.3s background;
}

.error {
  padding: 5px 0;
  color: #dd3b4b;
}
